@media (prefers-reduced-motion: no-preference) {
    :root {
        --card-easing: cubic-bezier(0.22, 1, 0.36, 1);
    }
    
    @keyframes slideFromBottom {
        0% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0);
        }
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 20%;
        }
        100% {
            opacity: 100%;
        }
    }
    
    @keyframes mouseUp {
        0% {
            transform: scale(0.9);
        }
        100% {
            transform: scale(1);
        }
    }
    
    @keyframes mouseDown {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0.9);
        }
    }
    
    @keyframes bounce {
        0% {
            transform: translateY(0)
        }
        5% {
            transform: translateY(-25%)
        }
        10% {
            transform: translateY(0)
        }
    }

    @keyframes logo {
        0% {
            left: 0;
            width: 0%;
        }
        9% {
            left: 50%;
            width: 50%;
        }
        15% {
            left: 100%;
            width: 0%;
        }
    }

    @keyframes bgC1 {
        0% {
            transform: translateX(0) translateY(0);
        }
        50% {
            transform: translateX(-25%) translateY(25%);
        }
        100% {
            transform: translateX(0%) translateY(0%);
        }
    }

    @keyframes bgC2 {
        0% {
            transform: translateX(0) translateY(10%);
        }
        50% {
            transform: translateX(42%) translateY(0%);
        }
        100% {
            transform: translateX(90%) translateY(20%);
        }
    }

    @keyframes bgC3 {
        0% {
            transform: translateX(100%) translateY(10%);
        }
        50% {
            transform: translateX(75%) translateY(60%);
        }
        100% {
            transform: translateX(10%) translateY(10%);
        }
    }

    @keyframes bgC5 {
        0% {
            transform: translateX(100%) translateY(100%);
        }
        50% {
            transform: translateX(100%) translateY(0%);
        }
        100% {
            transform: translateX(40%) translateY(60%);
        }
    }

    @keyframes foxRandomize {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateY(-900%);
        }
    }

    @keyframes flash {
        0% {
            border-color: var(--purple);
        }
        50% {
            border-color: #FFF;
        }
        0% {
            border-color: var(--purple);
        }
    }

    @keyframes slow-bounce {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }

    html, body {
        scroll-behavior: smooth;
    }

    div:target:before {
        animation: flash 0.5s 0.5s;
    }

    a:link, a:active, a:visited {
        text-decoration: none;
        background: linear-gradient(var(--text-color), var(--text-color)) left bottom no-repeat;
        background-position: 50% 100%;
        background-size: 0% 2px;
        transition: background-size 0.2s;
    }

    .bgcircle:nth-child(1) {
        animation: 40s bgC1 infinite alternate;
    }

    .bgcircle:nth-child(2) {
        animation: 40s bgC2 infinite alternate;
    }

    .bgcircle:nth-child(3) {
        animation: 40s bgC3 infinite alternate;
    }

    .bgcircle:nth-child(4) {
        animation: 40s bgC5 infinite alternate;
    }

    .back-to-top:before {
        transition: margin 0.2s;
    }
    
    .back-to-top:hover:before, .back-to-top:focus-visible:before {
        margin-top: -5px;
    }

    .tooltip:before {
        transition: visibility 0.15s, font-size 0.15s, opacity 0.15s, transform 0.15s;
    }

    a.arrow {
        transition: transform 0.2s;
    }

    a.card {
        transition: transform 0.2s;
    }

    .card:after {
        transition: width 0.5s;
        transition-timing-function: var(--card-easing);
    }

    a[href]:hover, a[href]:focus-visible {
        background-size: 100% 2px;
        text-decoration: none;
    }

    .profile {
        transition: background-color 0.2s;
    }

    .profile-detail {
        transform: scale(0.9);
        transition: transform 0.3s, opacity 0.3s;
    }

    .tab-select {
        transition: background-size 0.15s;
    }

    .tab-select::before {
        transition: left 0.15s, width 0.15s;
    }

    .special-msg {
        animation: foxRandomize 0.5s infinite steps(9, end);
        animation-fill-mode: forwards;
    }

    .logo:hover + .special-msg-wrapper > .special-msg-container > .special-msg {
        animation-play-state: paused;
    }

    .special-msg-wrapper {
        display: block;
        overflow: hidden;
        height: 0px;
        transition: height 0.2s;
    }

    .logo:hover + .special-msg-wrapper > .special-msg-container {
        visibility: visible;
    }

    .logo:hover + .special-msg-wrapper {
        height: 64px;
    }

    .logo, section, footer {
        animation: slideFromBottom 0.7s, fadeIn 0.7s;
    }

    nav > ul > li {
        transform: translateY(100%);
        animation: slideFromBottom 0.6s forwards, fadeIn 0.6s;
        animation-fill-mode: both;
    }

    nav > ul > li:nth-child(1) {
        animation-delay: 0.2s;
    }

    nav > ul > li:nth-child(2) {
        animation-delay: 0.25s;
    }

    nav > ul > li:nth-child(3) {
        animation-delay: 0.3s;
    }

    nav > ul > li:nth-child(4) {
        animation-delay: 0.35s;
    }

    nav > ul > li:nth-child(5) {
        animation-delay: 0.4s;
    }

    nav > ul > li:nth-child(6) {
        animation-delay: 0.45s;
    }

    
    /* Only fade out other elements when screen is wide enough, which are assumed to be some sort of non-mobile device */
    @media screen and (min-width: 800px) {
        .project-container:hover .project:not(:hover) {
            opacity: 0.3;
            transform: scale(0.95);
        }
    }

    .project:hover {
        opacity: 1;
        transform: none;
    }

    .project {
        transition: box-shadow 0.2s, opacity 0.2s, transform 0.4s;
    }
    
    .clickable {
        animation: mouseUp 0.2s forwards;
    }
    
    .clickable:active {
        animation: mouseDown 0.2s forwards;
    }

    .hover-spoiler {
        transition: width 0.3s;
        transition-timing-function: var(--card-easing);
    }

    .card:hover .hover-spoiler {
        width: 100%;
    }
    
    .logo > span {
        animation: 4s bounce infinite;
    }

    .logo:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0.75rem;
        width: 0;
        height: 4px;
        animation: 4s logo linear infinite;
        animation-delay: 2s;
        background: linear-gradient(to right, transparent, #FFF);
    }

    .logo > span:nth-child(1) {
        animation-delay: 2.00s;
    }
    
    .logo > span:nth-child(2) {
        animation-delay: 2.05s;
    }
    
    .logo > span:nth-child(3) {
        animation-delay: 2.10s;
    }
    
    .logo > span:nth-child(4) {
        animation-delay: 2.15s;
    }
    
    .logo > span:nth-child(5) {
        animation-delay: 2.20s;
    }
    
    .logo > span:nth-child(6) {
        animation-delay: 2.25s;
    }
    
    .logo > span:nth-child(7) {
        animation-delay: 2.30s;
    }
    
    .logo > span:nth-child(8) {
        animation-delay: 2.35s;
    }
    
    .logo > span:nth-child(9) {
        animation-delay: 2.40s;
    }

    .logo > span:nth-child(10) {
        animation-delay: 2.45s;
    }
}
