/* This file contains CSS hacks that's used to make the website render "a bit better" on IE (up to 9).
   Property prefixed with underscore only works with IE 6 or below.

   (IE 8 can still render the page semi ok, below that is getting out of hands)

   Why support such ancient browser? Cause we do a little trolling.
*/

body {
    _font-family: "Arial", sans-serif;
    _background: url("../img/fallback_bg.jpg");
}

.bg {
    _display: none;
    /* _position: absolute; */
    /* _top: expression(0+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px'); */
}

.nav {
    _border: 2px outset #fff;
    _background: #C8C8C8;
    _text-align: center;
    _margin: 10px 0;
    behavior: url("../pie/PIE.htc");
}

.container {
    _width: 80%;
    _padding-left: 20%;
}

.floatingcontainer {
    /* Seperator */
    _border: 2px outset #fff;
    _background: #C8C8C8;
    behavior: url("../pie/PIE.htc");
}

.special_msg_wrapper {
    _text-align: left;
}

.navitem {
    _padding: 0px 7px;
    _display: inline;
}

.oldbadge {
    _display: block;
}

.navitem a {
    _padding: 2px;
    _margin: 2px;
    _display: inline;
    _text-align: center;
}

.navitem a:hover {
    _cursor: default;
    _margin: 0px;
    _border: 2px outset #fff;
    _text-decoration: none;
}

.navitem a:active {
    _margin: 0px;
    _border: 2px inset #fff;
}

.project_img {
    width: 128px;
}

.project {
    _display: inline;
    width: 300px;
}

#clock {
    _float: none;
    _position: absolute;
    _right: 16px;
}