@font-face {
    font-family: 'Jost';
    font-weight: 400;
    src: url("../fonts/Jost.woff2") format('woff2'),
    url("../fonts/Jost.ttf") format('ttf');
    font-display: fallback;
}

:root {
   --mainBgColor: rgba(40, 40, 40, 0.5);
   --hoverBgColor: rgba(60, 60, 60, 0.5);
   --focusBgColor: rgba(90, 90, 90, 0.75);
   --link-color: #55AADD;
   --text-color: #FFF;
   --purple-vibrant: #B00993;
   --purple-highlight: #800773;
   --purple: #606;
   --solid-bg-color: #363330;
}

html, body {
    font-family: 'Jost', 'Trebuchet MS', 'Segoe UI', "Arial", sans-serif;
    line-height: 1.5;
    color: white;
    color: var(--text-color);
}

::selection {
    background-color: var(--purple-highlight);
}

img::selection {
    background-color: #FFF;
}

.profile-detail::-webkit-scrollbar {
    width: 12px;
    border-radius: 60px;
}

::-webkit-scrollbar {
    background-color: var(--solid-bg-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 60px;
    background-color: var(--focusBgColor);
}

b, h1 {
    font-weight: 600;
}

a {
    position: relative;
    color: var(--link-color);
    text-decoration: none;
}

a{
    text-decoration: underline;
}

a {
    text-decoration: underline;
}

h1 a {
    color: var(--text-color);
    color: #FFF;
    text-decoration: none;
}

a img {
    border-color: transparent;
    background-color: transparent;
}

a.skip-to-content {
    position: absolute;
    top: -100%;
    left: 0;
    color: var(--text-color);
    font-size: 24px;
}

.skip-to-content:focus {
    top: 0;
}

.logo {
    position: relative;
    display: inline-block;
    font-weight: 400;
    margin: 30px 0;
    font-size: 4.5em;
    text-shadow: 0px 0px 8px var(--text-color);
}

.logo > span {
    display: inline-block;
    margin: 0 -1px;
}

.profile {
    display: inline-block;
    border-radius: 25px;
    overflow: hidden;
    padding: 25px;
}

.profile:hover {
    background-color: var(--hoverBgColor);
}

.profile-img {
    display: inline-block;
    vertical-align: top;
    padding: 0.5em 15px;
}

.profile-img img {
    width: 148px;
    border-radius: 25px;
    vertical-align: middle;
    filter: drop-shadow(0 0 12px #000);
}

.profile-wrapper {
    position: relative;
    display: inline-block;
    max-width: 700px;
}

.profile-detail {
    text-align: left;
    overflow: auto;
    height: 100%;
    visibility: hidden;
    opacity: 0;
}

#cb1, #cb2, #cb3 {
    position: absolute;
    opacity: 0;
}

#cb1:checked ~ .profile-wrapper .profile-detail.first,
#cb2:checked ~ .profile-wrapper .profile-detail.second,
#cb3:checked ~ .profile-wrapper .profile-detail.third {
    transform: none;
    opacity: 1;
    visibility: visible;
}

.profile-detail {
    position: absolute;
    left: 0;
    top: 0;
}

.profile-detail.first {
    position: relative;
}

.tab-select {
    position: relative;
    padding: 4px;
    cursor: pointer;
}

.tab-select::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    background: #FFF;
    height: 2px;
}

#cb1:checked ~ .tab > .tab-select:nth-child(1):before,
#cb2:checked ~ .tab > .tab-select:nth-of-type(2):before,
#cb3:checked ~ .tab > .tab-select:nth-of-type(3):before {
    left: 0%;
    width: 100%;
}

.tab .separator {
    display: inline-block;
    width: 1px;
    height: 2rem;
    vertical-align: middle;
    background: linear-gradient(transparent 0%, var(--text-color) 50%, transparent 100%);
}

.special-msg-wrapper {
    display: none;
}

.special-msg-container {
    visibility: hidden;
}

.special-msg {
    height: 64px;
    width: 100%;
    white-space: nowrap;
    overflow: visible;
}

.special-msg img {
    vertical-align: middle;
    height: 64px;
}

.header {
    text-align: center;
    margin: 10px 0;
}

h1 {
    font-size: 2em;
}

.bg {
    position: fixed;
	height: 100%;
	width: 100%;
    top: 0;
	left: 0;
    user-select: none;
	overflow: hidden;
    background: black;
    z-index: -2;
}

.bgcircle {
    position: absolute;
    width: 1400px;
    height: 1400px;
    background-color: white;
    border-radius: 50%;
    /* older FF performance is p bad with the blur, altho I don't think we have a better way atm? */
    filter: blur(100px);
}

.bgcircle:nth-child(1) {
    background-color: #290000;
}

.bgcircle:nth-child(2) {
    background-color: #202;
}

.bgcircle:nth-child(3) {
    background-color: #000022;
}

.bgcircle:nth-child(4) {
    background-color: #211000;
}

a.back-to-top {
    position: sticky;
    display: inline-block;
    top: -70px;
    transform: translateY(100vh);
    left: calc(100% - 70px);
    z-index: 2;
}

.back-to-top:before, .back-to-top:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-top: 3px solid #FFF;
    border-left: 3px solid #FFF;
    transform: rotateZ(45deg);
    filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 1px #000);
}
/* :after is an invisible static element to prevent the hover transition getting stuck */
.back-to-top:after {
    opacity: 0;
}

.tooltip {
    position: relative;
}

.tooltip:hover:before, .tooltip:focus:before {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
    visibility: visible;
}

.tooltip:before {
    content: attr(data-tooltip);
    position: absolute;
    top: -2em;
    left: 50%;
    padding: 2px 4px;
    background: #222;
    font-size: 14px;
    white-space: nowrap;
    border-radius: 4px;
    transform: translateX(-50%) translateY(25%);
    box-shadow: 0 0 6px 1px #000;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

.container {
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
}

.nav {
    list-style-type: none;
    padding: 28px;
    font-size: 22px;
}

.nav * {
    display: inline-block;
    _display: inline;
}

.navitem {
    padding: 5px 15px 5px 15px;
}

.navitem a {
    color: #FFF;
    color: var(--text-color);
}

.project-container {
    width: max-content;
    max-width: 100%;
    margin: 20px auto;
    text-align: center;
}

.project {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    white-space: normal;
    width: 600px;
    max-width: 100%;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0;
}

.project:hover {
    box-shadow: 0 0 32px 0 #000;
    background-color: #444;
    background-color: rgba(90, 90, 90, 0.75);
    background-color: var(--hoverBgColor);
}

.project > div {
    display: table-cell;
    padding: 10px;
}

.project-img img {
    width: 148px;
    border-radius: 25px;
    border-radius: 1.25em;
    margin-top: 0.5em;
    filter: drop-shadow(0 0 12px #000);
}

.project-detail {
    vertical-align: top;
    text-align: left;
}

.project-back {
    position: absolute;
    left: 0;
}

.card-container {
    display: block;
    display: grid;
    margin: auto;
    padding: 0 20px;
    width: 50%;
    width: fit-content;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    gap: 10px;
    text-align: center;
}

.card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: var(--purple-highlight);
}

a[href].card, .card {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: #FFF;
    color: var(--text-color);
    background-color: #444;
    background: var(--solid-bg-color);
    max-width: 475px;
    font-size: 16px;
    text-align: left;
    padding: 0.5em;
    padding-left: 1em;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
}

.card:hover {
    background-color: #800773;
    background: var(--solid-bg-color);
}

.navsep {
    display: inline-block;
}

.webring-container {
    margin-top: 26px;
}

.webring-container * {
    vertical-align: middle;
}

.webring-container .random {
    text-align: center;
    color: #FFF;
    color: var(--text-color);
    margin-top: 10px;
}

a[href].webring-card {
    width: 375px;
    max-width: 100%;
    display: inline-block;
}

.card * {
    position: relative;
    z-index: 2;
}

.card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background: var(--purple-highlight);
    background: linear-gradient(to right, var(--purple-highlight), var(--purple-vibrant));
    z-index: 1;
}

.card:hover:after, .card:focus:after {
    width: 100%;
}

.card h2 {
    margin: 0;
    font-weight: 400;
    font-size: 1.5em;
}

.inline-icons {
    padding: 10px 0;
}

.inline-icons img {
    margin: 0 5px;
    width: 48px;
}

.main {
    width: 100%;
}

.tag {
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 0px 15px;
    border-radius: 50px;
}

.section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    background: rgba(40, 40, 40, 0.5);
    background: var(--mainBgColor);
    border-top: 3px solid #606;
    border-bottom: 3px solid #606;
    border-top: 3px solid var(--purple);
    border-bottom: 3px solid var(--purple);
    transform: skewY(-3deg);
    z-index: -1;
}

.section:first-child::before {
    border-top: 3px solid #444;
}

.section:last-child:before {
    border-bottom: 3px solid #444;
}

.section {
    position: relative;
    scroll-margin-top: 6rem;
    width: 100%;
    padding: 70px 0;
    margin: auto;
}

.section .header {
    font-weight: 600;
    text-align: center;
}

.hover-spoiler {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 0px;
    line-height: 1rem;
}

.oldbadge {
    display: none;
}

.footer {
    margin: 24px;
}

.center {
    text-align: center;
}

.relative {
    position: relative;
}

.nowrap {
    white-space: nowrap;
}

a[href].arrow, .arrow {
    display: inline-block;
    margin: 5px;
    font-size: 52px;
    color: white;
    background: none;
    text-decoration: none;
    box-sizing: border-box;
}

.arrow.left:hover {
    padding-right: 5px;
}

.arrow.right:hover {
    padding-left: 5px;
}

@media screen and (max-width: 800px) {
    .logo {
        font-size: 72px;
    }

    .project-container {
        overflow: auto;
        white-space: normal;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

    a[href].arrow, .arrow {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 32px;
    }

    .logo {
        margin-bottom: 30px;
        font-size: 60px;
    }

    .navsep {
        display: block;
        visibility: hidden;
        line-height: 8px;
    }

    .special-msg {
        font-size: 18px;
    }

    .special-msg img {
        vertical-align: middle;
        height: 48px;
    }

    .project-img img {
        width: 128px;
    }
}